@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-color: #5cac0e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  color: black;
}

body {
  height: 100vh;
  width: 100vw;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 80%;
  margin: auto;
}

header {
  padding: 50px 0;
  position: fixed;
  width: 100%;
  z-index: 9;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo svg {
  /* height: 100%; */
  margin-right: 32px;
  fill: var(--primary-color);
}

.navbar__logo span {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar__menu {
  display: flex;
  gap: 60px;
}

.navbar__login {
  display: block;
  width: 35px;
  height: 24px;
  border: 2px solid #333333;
  border-radius: 5px;
  position: relative;
  background-color: transparent;
}

.navbar__login::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 20px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border: 2px solid #333333;
  border-bottom: none;
  top: calc(-100% - 2px);
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
}

.hero {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.hero__content {
  width: 25%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.hero__title {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 500;
}

.hero__subtitle {
  font-size: 2rem;
  font-weight: 500;
}

.hero__button {
  margin-top: 45px;
  background: var(--primary-color);
  outline: none;
  border: none;
  padding: 20px 30px;
  font-weight: bold;
  color: white;
  border-radius: 50px;
  cursor: pointer;
}

.hero__food {
  position: relative;
  width: 1800px;
  aspect-ratio: 1/1;
  left: 300px;
  top: -1100px;
}
.food_small {
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  position: absolute;
  top: 0;
  left: 10%;
  border-radius: 50%;
  overflow: hidden;
}

.small__image {
  width: 900px;
  aspect-ratio: 1/1;
  position: absolute;

  transform: translate(-50%, -50%);
  left: 50%;
  bottom: -50%;
  border: 2px dashed gray;
  border-radius: 50%;
}

.small__image img {
  position: absolute;
  transform: translate(-50%, 50%);
  left: 50%;
  top: 50%;
  width: 20%;
  transition: all 0.5s ease-in-out;
  /* position: absolute; */
}

.small__image img:nth-child(1) {
  transform: rotate(-90deg) translate(450px) rotate(90deg) translate(-50%, -50%);
}
.small__image img:nth-child(2) {
  transform: rotate(-54deg) translate(450px) rotate(54deg) translate(-50%, -50%);
}
.small__image img:nth-child(3) {
  transform: rotate(-18deg) translate(450px) rotate(18deg) translate(-50%, -50%);
}
.small__image img:nth-child(4) {
  transform: rotate(18deg) translate(450px) rotate(-18deg) translate(-50%, -50%);
}
.small__image img:nth-child(5) {
  transform: rotate(54deg) translate(450px) rotate(-54deg) translate(-50%, -50%);
}
.small__image img:nth-child(6) {
  transform: rotate(90deg) translate(450px) rotate(-90deg) translate(-50%, -50%);
}
.small__image img:nth-child(7) {
  transform: rotate(126deg) translate(450px) rotate(-126deg)
    translate(-50%, -50%);
}
.small__image img:nth-child(8) {
  transform: rotate(162deg) translate(450px) rotate(-162deg)
    translate(-50%, -50%);
}
.small__image img:nth-child(9) {
  transform: rotate(198deg) translate(450px) rotate(-198deg)
    translate(-50%, -50%);
}
.small__image img:nth-child(10) {
  transform: rotate(234deg) translate(450px) rotate(-234deg)
    translate(-50%, -50%);
}

.prev-animation {
  animation: 0.5s forwards ease-in-out prev_animation;
}

@keyframes prev_animation {
  from {
    transform: rotate(-90deg) translate(450px) rotate(90deg)
      translate(-50%, -50%);
  }

  to {
    transform: rotate(-126deg) translate(450px) rotate(126deg)
      translate(-50%, -50%);
  }
}

.next-animation {
  animation: 0.5s forwards ease-in-out next_animation;
}

@keyframes next_animation {
  from {
    transform: rotate(234deg) translate(450px) rotate(-234deg)
      translate(-50%, -50%);
  }

  to {
    transform: rotate(270deg) translate(450px) rotate(-270deg)
      translate(-50%, -50%);
  }
}

.food_main {
  position: absolute;
  bottom: 0%;
  left: 60%;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: center;
  gap: 100px;
  width: fit-content;
  height: 300px;
  width: fit-content;
  align-items: center;
}

.main_images {
  position: relative;
  height: 100%;
  width: 300px;
  display: flex;
}

.main_images img {
  height: 100%;
  object-fit: contain;
  width: auto;
  position: absolute;
  top: 50%;

  left: 50%;
  transform: translate(-50%, -50%);
  /* transition: all 0.5s ease-in-out; */
}

.food_main button {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: none;
  outline: none;
  border-radius: 50%;
  background: var(--primary-color);
  color: white;
  cursor: pointer;
}

.display-image-animation {
  animation: display_image_animation forwards 0.5s ease-in-out;
}

@keyframes display_image_animation {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.hidden-image-animation {
  animation: hidden_image_animation alternate 1s ease-in-out;
}

@keyframes hidden_image_animation {
  from {
    opacity: 1 ;
  }
  to {
    opacity: 0 !important;
  }
}
